@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0b;
}
.linear-text {
  background: var(
    --Linear,
    linear-gradient(90deg, #4646fb -11.57%, #be4dff 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact {
  border-radius: 16px;
  border-left: 1px solid var(--Just-White, #fff);
  background: linear-gradient(
    117deg,
    #020202 25.99%,
    #191919 55.06%,
    #040404 91.79%
  );
}
.linear-text2 {
  background: var(
    --Linear,
    linear-gradient(90deg, #f46900 -11.57%, #fb8a00 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blur-background {
  backdrop-filter: blur(
    5px
  ); /* Adjust the pixel value for the desired blur effect */
}
