@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:#0A0A0B;
}
.linear-text{
  background: var(--Linear, linear-gradient(90deg, #4646FB -11.57%, #BE4DFF 99.96%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.contact {
  border-radius: 16px;
  border-left: 1px solid var(--Just-White, #fff);
  background: linear-gradient(
    117deg,
    #020202 25.99%,
    #191919 55.06%,
    #040404 91.79%
  );
}
.linear-text2{
  background: var(--Linear, linear-gradient(90deg, #F46900 -11.57%, #FB8A00 99.96%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}